.home {
  height: 100%;
  text-align: center;
  background-size: 100% 100%;
  // background-color: #0e0e0e;
  display: flex;
  flex-direction: column;

  .search-box {
    display: flex;
		align-items: center;
		position: sticky;
		top: 0;
		z-index: 999;
    .search {
      flex: 1;
    }
  }

  .primary-icon {
		background-color: #fff;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
		justify-content: space-around;
    .icon-box {
      display: flex;
      flex-direction: column;
			justify-content: center;
			img {
				width: 80px;
			}
    }
	}
	
	.new-gift {
		padding: 10px;
		margin: 10px 0;
		background-color: #fff;
		.title {
			font-size: 18px;
			padding: 10px 0;
		}
		.content {
			width: 100%;
		}
	}
}