
.nav-bar {
	background: #fff;
	height: 50px;
  width: 100%;
  position: fixed;
  z-index: 99;
	padding-top: env(safe-area-inset-top);
	display: flex;
	justify-content: space-between;
	img {
		height: 100%;
	}
}
