.image-text__document {
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-size: 100% 100%;
  overflow: hidden;

  &.gauss-blur::after {
		filter: blur(10px);
		backdrop-filter: blur(10px);
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
		transform: translate3d(0, 0, 0);
	}
	

  &.gauss-blur:hover {
    &::after {
			filter: none;
			backdrop-filter: none;
    }

    .image-text__document__text {
      opacity: 0;
    }
  }

  &__text {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    width: 100%;
    // height: 100%;
    z-index: 10;
    position: relative;
  }

  &__img {
    width: 100%;
  }
}