* {
  margin: 0;
  padding: 0;
	touch-action: manipulation;
  font-family: PingFangSC-Regular;
}
iframe {
	display: none;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	background-color: #f7f7f7;
	padding-top: constant(safe-area-inset-top);
	padding-left: constant(safe-area-inset-left);
	padding-right: constant(safe-area-inset-right);
	padding-bottom: constant(safe-area-inset-bottom);
}

#root {
	height: 100%;
}

li {
	list-style: none;
}

input:focus {
	outline-offset: 0;
	outline: none;
}

button {
	display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
	border-radius: 6px;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 10px;
}

textarea {
	&:focus {
		outline: none;
	}
}
